<%- include('./partials/header.ejs') %>
<section id="book-details">
    <div class="book-container-L">
        <div>
            <img class="book-cover-L" src="https://covers.openlibrary.org/b/olid/<%= book.olid %>-L.jpg" alt="">
        </div>
        <div>
            <h1 class="btitle"><%= book.title %></h1><br>
            <p class="bauthor">Author: <%= book.author %></p><br>
            <p class="bfeedback">Feedback:<br><%= book.feedback %></p><br>
            <div class="btns">
                <a href="/edit?id=<%= book.id %>" class="btn btn-warning">Edit</a>
                <button onclick="deleteAttempt()" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <script>
    
        function deleteAttempt(){
            let userKey = prompt("Enter your Access Key: ");
            console.log(userKey);
            if(userKey == "<%= process.env.Access_Key %>"){
                console.log()
                alert("Deleted");
                window.location.href = "/delete?id=<%= book.id %>";
            }else{
                alert("Unauthorized Access Denied");
            }
        }
    </script>
    
    
</section>
<%- include('./partials/footer.ejs') %>