<%- include('./partials/header.ejs') %>
<section>
    <img src="https://covers.openlibrary.org/b/olid/<%= book.olid %>-L.jpg" alt="">
    <h1><%= book.title %></h1>
    <p><%= book.author %></p>
    <p><%= book.dateOfCompletion %></p>
    <p><%= book.feedback %></p>
    <a href="/edit?id=<%= book.id %>">Edit</a>
    <a href="/delete?id=<%= book.id %>">Delete</a>
</section>
<%- include('./partials/footer.ejs') %>